{% extends "basetwo.html" %}
{% block content %}




<H3>Make emotions count in your classroom</H3>
<div>
    <p>	 &#127979;  &#128522;  &#128077; </p> 
</div>

{% for carer in carers %}

<section>
    <p> Name: {{ carer.f_name }} {{ carer.l_name}} <br>
        Address: {{carer.details}} <br>
        Phone number: {{carer.phone_num}}      
    </p>
    
    <a href="/carers/{{ carer.id }}/edit"> <button>Update</button></a>
    <a href="/carers/{{ carer.id }}"> <button>View Carer</button></a>
    <form action="/carers/{{ carer.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>


{% endfor %}
<H4>Add a new carer</H4>
<a href="/carers/new"><button>Add Carer</button> </a>


{% endblock %}