/* class in base 2 menu and container in base 1 */

@font-face {
  font-family: 'Frutiger';
  font-style: normal;
  font-weight: normal;
  src: local('Frutiger'), url('Frutiger.woff') format('woff');
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #wrapper {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
  }

  #content {
    padding-bottom: 25px;
    overflow: hidden;
  }

header{
    margin: 0;
    padding: 10px;
    background-color: rgb(126, 46, 201);
}

h1{
    margin:0;
    color: white;
    font-size: 2rem;
    font-family: 'Frutiger';
}

aside{
  background-color: #f7821b;
  margin: 0;
}

aside nav ul{
  list-style: none;
  margin:0;
  padding-top:10px ;
  padding-bottom: 10px;

}

aside nav ul a{
  margin:0;
  color: white;
  font-size: 1.4em;
  font-family: 'Frutiger';
  padding: 5px 15px 5px 0px;
  text-decoration: none;
}


.menu {
    background-color: #d32487;
    padding-top: 10px;
    list-style: none;
    height: 40px;
    margin-top: 0;
    margin-bottom:0;
    text-align: center;
  
    
}
.menu> li>a{
    float: left;
    display: block;
    padding: 5px 15px 5px 15px;
    color: white;
    font-size: 1.6em;
    text-decoration: none;
    border-bottom: 4px solid #d32487;
}

.menu> li>a:hover {
  border-bottom: 4px solid #fff;
}

.menu> li:first-child>a:hover {
  border-bottom: 4px solid #fff;
}

.menu> li:first-child>a {
  padding: 5px 15px 5px 0px;
  text-decoration: none;
  border-bottom: 2px solid #d32487;
}

nav {
  margin-left: -30px;
}

body {
  
    justify-content: center;
    margin: 0; /* NEW */
    font-family: 'Frutiger';
  }
  .container {
    margin: 0;
    padding:5%;
  }

.container>h2{
    justify-content: center;
}

#footer{
    font-family: 'Frutiger';
    font-size: 15px;
    margin-top: 0px;
    position: absolute;
    height: 25px; 
    /* footer same hight as padding bottom from container content */
    bottom: 0px;
    width: 96%;
    background-color: rgb(126, 46, 201);
    color: white;
    padding: 2%;

}
img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.grid-item p {
  margin-bottom: 10px;
  padding-bottom:0;
}

.smileys {
  font-size: 50px;
}

.grid-item {
  float: left;
  width: 49%;
  text-align: center;
}

button {
  font-size: 18px;
  width: 140px;
  height: 30px;
  margin-bottom: 10px;
}

input[type=submit] {
  font-size: 18px;
  width: 140px;
  height: 30px;
  margin-bottom: 10px;;
}

label {
  clear: left;
  float: left;
  font-size: 18px;
  width: 75%;
  height: 25px;
  margin-right: 2%;
  margin-bottom: 15px;
}

input {
  float: left;
  font-size: 18px;
  width: 80%;
  height: 27px;
  margin-bottom: 15px;
}

select {
  float: left;
  width: 82.5%;
  height: 30px;
  font-size: 18px;
  margin-bottom: 15px;
}





table {
  font-size: 18px;
  font-weight: normal;
}

td, tr, th {
  text-align: left;
}

th {
  background: #e8e8e8;
}








/*   
  .navLink li {
      margin: 20px;
  }
  
   a {
    color: black;
  }
  
  .navLink {
      display: inline;
  }
  
  
  .order-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .order {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: white;
    padding: 10px;
    margin:20px;
  }
  
  .order p, i{
    color:black;
    list-style: none;
    margin:3px;
  }
  
  h2 {
    color: black;
  }
  
  h3, h4, h5 {
    margin: 5px;
    color:blue;
  }
   */ 