{% extends "basetwo.html" %}
{% block content %}



<h2>Update Student</h2>

<form action="/pupils/{{ pupil.id }}" method="POST">
    <div>
        <label for="name"> Student's Name:</label>
        <input type="text" id="name" name="name" value="{{ pupil.name }}">

    

        <label for="teacher_id">Teacher:</label>
        <select id="teacher_id" name="teacher_id">
        {% for teacher in teachers %}
        <option value="{{ teacher.id }}">{{ teacher.title}} {{ teacher.name }}</option>
        {% endfor %} <br>
        </select>
        
    <div>
        <input type="submit">
    </div>
</form>





{% endblock %}