{% extends "basetwo.html" %}
{% block content %}




<H3>Make emotions count in your classroom</H3>
<div>
    <p>	 &#127979;  &#128522;  &#128077; </p> 
</div>

{% for pupil in pupils %}
<section>
    <p> Name: {{ pupil.f_name }} {{ pupil.l_name}} <br>
        Date of Birth: {{pupil.d_o_b}} <br> 
        Gender: {{pupil.gender}} <br>

        Teacher: {{teacher.f_name}} {{teacher.l_name}} 

       
    </p>
    
    <a href="/pupils/{{ pupil.id }}/edit"> <button>Update</button></a>
    <a href="/pupils/{{ pupil.id }}"> <button>View Pupil</button></a>
    <form action="/pupils/{{ pupil.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>
{% endfor %}

<H4>Add a new pupil</H4>
<a href="/pupils/new"><button>Add Pupil</button> </a>


{% endblock %}