{% extends "basetwo.html" %}
{% block content %}

<H3>Make emotions count in your classroom</H3>
<div>
    <p>	 &#127979;  &#128522;  &#128077; </p> 
</div>
<section>
    <p> Name: {{ pupil.name }} <br>
        

        Teacher: {{teacher.title}} {{teacher.name}} 

       
    </p>
    
    <a href="/pupils/{{ pupil.id }}/edit"> <button>Update</button></a>
    
    <form action="/pupils/{{ pupil.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>



{% endblock %}