{% extends "basethree.html" %}
{% block content %}



<select id="student_id" name="student_id">
    {% for student in students %}
    <option value="{{ students.id }}">{{ student.f_name }} {{ student.l_name }}</option>
    {% endfor %} 
    </select>


<div class="emotions_grid">
     
      <a href="/students/low">Low</a> <br>
      <a href="/students/ready">Ready to learn</a> <br>
      <a href="/students/unsettles">Unsettled</a> <br>
      <a href="/students/out-of-control">Out of control</a> <br>
    
</div>



{% endblock %}