{% extends "basethree.html" %}
{% block content %}

<div>
    <div>
        <a href="/students/low"> <button>{{emotion_low.emotion_name }}</button></a>
    </div>
    <div>
        <a href="/students/ready"> <button>{{emotion_ready.emotion_name }}</button></a>
    </div>

    <div>
        <a href="/students/unsettled"> <button>{{emotion_unsettled.emotion_name }}</button></a>
    </div>

    <div>
        <a href="/students/out-of-control"> <button>{{emotion_out.emotion_name }}</button></a>
    </div>
</div>





{% endblock %}