{% extends "base.html" %}
{% block content %}

<div class="grid-container">
    <div class="grid-item">
        <p class="smileys">&#128550;</p>
        <a href="/students/low"> <button>{{emotion_low.emotion_name }}</button></a>
    </div>
    <div class="grid-item">
        <p class="smileys"> &#128522;</p>
        <a href="/students/ready"> <button>{{emotion_ready.emotion_name }}</button></a>
    </div>

    <div class="grid-item">
        <p class="smileys">&#129313;</p>
        <a href="/students/unsettled"> <button>{{emotion_unsettled.emotion_name }}</button></a>
    </div>

    <div class="grid-item">
        
        <p class="smileys">&#129327;</p>
        <a href="/students/out-of-control"> <button>{{emotion_out.emotion_name }}</button></a>
    </div>
</div>


{% endblock %}