<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClassCheckIn</title>
</head>
<body>
  <header>
    <h1>ClassCheckIn</h1>
    <h2>How are you feeling today?</h2>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href=/students>Students</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block content %}

    {% endblock %}
  </div>
</body>
<footer>
    This will be the footer
</footer>
</html>